**bin/
**obj/
**.vs/
.fake
secret/
Application/Microsoft/Edge/data_dir/

# ------------------------------------------------------------
# GENERATED: ignores files >= 100 MiB
# root: C:\Repositories\eristocrates\ipa
# ------------------------------------------------------------
.git/objects/pack/pack-38e8cb36b35d646042d6ae9e3bdac75c25b7f2f6.pack
.git/objects/pack/pack-3e7d241cf7cca0b5dbb3d7451798a916c50e6da3.pack
.git/objects/pack/pack-8704cdc538060233c251ed3041de335b9b4a35df.pack
Application/Microsoft/Edge/data_dir/ProvenanceData/2025.10.7.5/vti-b-p32-visual.quant.ort
Application/Microsoft/Edge/data_dir/component_crx_cache/f081de18a604e95a175eaf4dd91b35b7f17ad4de24ee2f20eeb034c979bbcccb
