**bin/
**obj/
**.vs/
.fake
secret/
.git/objects/pack/
Application/Microsoft/Edge/data_dir/

# ------------------------------------------------------------
# GENERATED: ignores files >= 100 MiB
# root: C:\Repositories\eristocrates\ipa
# ------------------------------------------------------------
.git/objects/pack/pack-30bdd24aaa3bfa8760954eb94fe53a7829977e1e.pack
.git/objects/pack/pack-88ea8cb40b1997cd6e35551754c02de933a9b0a0.pack
.git/objects/pack/tmp_pack_swa5ds
Application/MMT/content/MMT/LATIN2/.git/objects/pack/pack-43b870377222ffe65ac4f272dcb155d5f932a01c.pack
Application/Microsoft/Edge/data_dir/ProvenanceData/2025.10.7.5/vti-b-p32-visual.quant.ort
Application/Microsoft/Edge/data_dir/component_crx_cache/f081de18a604e95a175eaf4dd91b35b7f17ad4de24ee2f20eeb034c979bbcccb
Application/VSCodium/VSCodium-win32-x64-1.112.01855-insider/VSCodium - Insiders.exe
Application/gephi/gephi-0.10.1-windows-x64.exe
Language/Java/jdk-15/lib/modules
Language/Java/jdk-17.0.2/lib/modules
Language/Java/shj/lib/modules
Language/Rdf/Owl/owlapi/.git/objects/pack/pack-f625ab40efa82cf5d2cc863eae8247ca82248dc3.pack
Language/Rdf/Rml/RMLStreamer-v2.5.0-standalone.jar
Language/Rdf/Rml/rmlmapper-8.1.0-r380-all.jar
Language/Rdf/Sparql/sparql-anything-server-v1.1.0-geosparql.jar
Language/Rdf/Sparql/sparql-anything-server-v1.1.0.jar
Language/Rdf/Sparql/sparql-anything-v1.1.0-geosparql.jar
Language/Rdf/Sparql/sparql-anything-v1.1.0.jar
Language/Xml/basex/Basex122/data/LCPW_OverlayStormwaterInfrastructure_D_WM/tbl.basex
Language/Xml/basex/Basex122/data/ucd.all.flat/tbl.basex
Persistence/Database/Embedded/Document/FastDB/Unicode/Unicode/Triples.db
Source-code/Host-environment/Common-Language-Runtime/FSharp/Interactive/DoxAletheia/Vocabulary/http/purl.obolibrary.org/obo/NCIT_/bare/ncit.owl
Source-code/Host-environment/Common-Language-Runtime/FSharp/Interactive/DoxAletheia/lov.normalized.cleaned.nq
Source-code/Host-environment/Common-Language-Runtime/FSharp/Interactive/DoxAletheia/lov.normalized.nq
Source-code/Host-environment/Common-Language-Runtime/FSharp/Interactive/DoxAletheia/lov.nq
