root = true

[*.fs]
indent_size = 4
max_line_length = 300
fsharp_blank_lines_around_nested_multiline_expressions = false

[*.fsi]
indent_size = 4
max_line_length = 300
fsharp_blank_lines_around_nested_multiline_expressions = false

[*.fsx]
indent_size = 4
max_line_length = 300
fsharp_blank_lines_around_nested_multiline_expressions = false