source https://api.nuget.org/v3/index.json

generate_load_scripts: true
framework: net10.0
nuget AngleSharp = 1.7.2
nuget BrowserApi = 0.1.0-preview.9
nuget CaseConverter
nuget ChromeProtocol.Domains 2.1.1.1367902
nuget CsvHelper
nuget dotNetRdf
nuget Dubzer.WhatwgUrl
nuget Fabulous.AST
nuget Fantomas.FCS
nuget Fli
nuget FolkerKinzel.MimeTypes
nuget FPrimitive
nuget FsExcel
nuget FSharp.Collections.ParallelSeq
nuget FSharp.Compiler.Service = 43.10.103
nuget FSharp.Data
nuget FSharp.Data.Adaptive
nuget FSharp.Data.JsonPath
nuget FSharp.Data.JsonSchema.Core
nuget FSharp.Data.JsonSchema.NJsonSchema
nuget FSharp.Data.JsonSchema.OpenApi
nuget FSharp.Data.Mutator
nuget FSharp.HashCollections
nuget FSharp.Json
nuget FSharp.Literals
nuget FSharp.ViewEngine
nuget FSharp.XExtensions
nuget FsHttp
nuget FsPdf
nuget Humanizer.Core
nuget Iride
nuget IriTools
nuget Json.More.Net
nuget JsonPath.Net
nuget JsonPointer.Net
nuget JsonStructure
nuget Lambda2Js = 3.1.4
nuget libphonenumber-csharp
nuget LitXml
nuget JmesPath.Net >= 1.1.0
nuget Meziantou.Framework
nuget Phoenixml.Platform.Editor.Xml 0.1.0
nuget PhoenixmlDb.Core 1.6.7
nuget PhoenixmlDb.Schema.Inference 0.1.0
nuget PhoenixmlDb.Xslt 1.6.13
nuget TruePath >= 1.12.0
nuget TruePath.SystemIo >= 1.12.0
nuget Meziantou.Framework.AtlassianDataFormat
nuget GoogleApi >= 5.8.15
nuget Meziantou.Framework.Avatar
nuget Meziantou.Framework.ByteSize
nuget Meziantou.Framework.Csv
nuget Meziantou.Framework.FullPath
nuget Meziantou.Framework.Html
nuget Meziantou.Framework.HtmlSanitizer
nuget Meziantou.Framework.HtmlToMarkdown
nuget Meziantou.Framework.Http
nuget Meziantou.Framework.HumanReadableSerializer
nuget Meziantou.Framework.JsonPath
nuget Meziantou.Framework.Language.Json
nuget Meziantou.Framework.Language.Regex
nuget Meziantou.Framework.Language.Shell
nuget Meziantou.Framework.Language.Xml
nuget Meziantou.Framework.MediaTags
nuget Meziantou.Framework.NtpClient
nuget Meziantou.Framework.ObjectMethodExecutor
nuget Meziantou.Framework.QRCode
nuget Meziantou.Framework.RelativeDate
nuget Meziantou.Framework.RobotsTxt
nuget Meziantou.Framework.Scheduling
nuget Meziantou.Framework.Slug
nuget Meziantou.Framework.Unicode
nuget Meziantou.Framework.Uri
nuget Meziantou.Framework.Versioning
nuget Meziantou.Framework.Win32.ChangeJournal
nuget Meziantou.Framework.Win32.CredentialManager
nuget Meziantou.Framework.Win32.PerceivedType
nuget Meziantou.Framework.Win32.RecentDocuments
nuget Meziantou.Framework.Yaml
nuget Microsoft.Extensions.Logging.Abstractions
nuget Microsoft.Graph
nuget Microsoft.SqlServer.DacFx = 162.5.57
nuget Newtonsoft.Json
nuget NLanguageTag
nuget OBO.NET
nuget OBO.NET.CodeGeneration
nuget OWLSharp
nuget OWLSharp.Extensions
nuget PdfPig
nuget PosInformatique.Foundations.EmailAddresses
nuget PuppeteerSharp
nuget PuppeteerSharp.Contrib.Extensions
nuget PuppeteerSharp.Dom = 5.0.43
nuget QuikGraph
nuget QuikGraph.Data
nuget QuikGraph.Graphviz
nuget QuikGraph.MSAGL
nuget QuikGraph.Petri
nuget QuikGraph.Serialization
nuget RDFSharp
nuget SafeName
nuget Selenium.WebDriver = 4.47.0
nuget SolarWinds.Api
nuget SQLProvider.MsSql = 1.5.18
nuget Tavis.UriTemplates
nuget TextCopy
nuget Universal.Common.Css.Selectors
nuget WebSharper
nuget XParsec
nuget Yog.FSharp
nuget Mime-Detective >= 25.8.1
nuget ktsu.IntervalAction
nuget ktsu.Semantics.Strings
nuget ktsu.Semantics.Strings.Identifiers
nuget ktsu.Semantics.Paths
nuget ktsu.Semantics.Color
nuget ktsu.FuzzySearch
nuget ktsu.TextFilter
nuget ktsu.Keybinding.Core
nuget ktsu.Frontmatter
nuget ktsu.Coder.Core
nuget ktsu.ThemeProvider
nuget Mime-Detective
nuget Microsoft.SqlServer.TransactSql.ScriptDom >= 180.102.0
nuget System.DirectoryServices.AccountManagement >= 10.0.11
nuget System.DirectoryServices.Protocols >= 10.0.11